#leftslice-outer-left {
  font-family: "Spartan";
  -ms-transform: skew(-30deg, 0deg);
  -webkit-transform: skew(-30deg, 0deg);
  transform: skew(-30deg, 0deg);
  background: #333333;
  width: 70%;
  height: 200px;
  z-index: 20;
  border-bottom: 3px solid #000000af;
  padding: 10px 30px 10px 75px;
  font-size: 20px;
  color: #ffffff;
  position: relative;
  left: -100px;
  box-shadow: 1px 15px 15px rgb(16, 16, 16);
  overflow-x: hidden;
  overflow-y: hidden;
}

.leftslice-headingtext {
  padding-top: 20px;
  padding-left: 14%;
  padding-bottom: 20px;
  font-weight: 500;
  font-size: 2rem;
}

.dropdown-content {
  position: absolute;
  top: 222px;
  padding-left: 32%;
  margin-right: 22%;
  -ms-transform: skew(-30deg, 0deg);
  -webkit-transform: skew(-30deg, 0deg);
}

#leftslice-outer-left:after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 100%;
  right: 0px;
  top: 0px;
  z-index: 10;

  background: linear-gradient(0deg, #1b267e 0%, #3c0b46 100%);
  background-size: 200% 200%;
  animation: bg-animation 10s infinite alternate;
  -webkit-animation: bg-animation 10s infinite alternate;
}

#leftslice-inner-left {
  -ms-transform: skew(30deg, 0deg);
  -webkit-transform: skew(30deg, 0deg);
  transform: skew(30deg, 0deg);
  display: inline-block;
}
.leftslice-link {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}

.leftslice-link-icon {
  font-size: 60px;
  padding-left: -15px;
}
.leftslice-link a {
  display: inline-block;
  margin-left: 40px;
  margin-right: 40px;
  border: none;
  cursor: pointer;
  position: relative;
  color: rgb(142, 68, 216);
  transition: color 0.2s;
  letter-spacing: 1px;
  text-decoration: none;
  padding: 20px;
  font-weight: 500;
  font-size: 25px;
}

.leftslice-link a:after {
  content: "";
  position: absolute;
  background-color: rgb(39, 51, 141);
  z-index: -1;
}
.leftslice-link a:hover {
  color: #fff;
}

/* Directions */

button.left:after {
  left: -0.3em;
  top: 0;
  height: 100%;
  width: 0.08em;
  transform: skew(-20deg);
  transition: width 0.1s;
}
.leftslice-link a:hover:after {
  width: calc(100% + 0.6em);
}

.leftslice-link a:after {
  right: -0.3em;
  top: 0;
  height: 100%;
  width: 0.08em;
  transform: skew(-20deg);
  transition: width 0.1s;
}
.leftslice-link a:hover:after {
  width: calc(100% + 0.6em);
}

/* Tag styling */

.tags {
  position: relative;
  width: 100%;
  padding-left: 12%;
}
.tags li,
.tags p {
  float: left;
  height: 26px;
  line-height: 24px;
  position: relative;
  font-size: 14px;
}
.tags p {
  margin-left: 20px;
  padding: 0 10px 0 12px;
  background: #0089e0;
  color: #fff;
  text-decoration: none;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}
.tags p:before {
  content: "";
  float: left;
  position: absolute;
  top: 0;
  left: -12px;
  width: 0;
  height: 0;
  border-color: transparent #0089e0 transparent transparent;
  border-style: solid;
  border-width: 12px 12px 14px 0;
}
.tags p:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  float: left;
  width: 4px;
  height: 4px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: #fff;
  -moz-box-shadow: -1px -1px 2px #004977;
  -webkit-box-shadow: -1px -1px 2px #004977;
  box-shadow: -1px -1px 2px #004977;
}

/* slice image styling */

.leftslice-img-container {
  position: absolute;
  width: 150%;
  height: 220px;
  overflow: hidden;
  top: -10px;
  left: 100%;
  margin-right: 0%;
}
.leftslice-img {
  position: fixed;
  z-index: -2;
  left: 101%;
  min-width: 100%;
  min-height: 100%;
}

.fade {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
  background: linear-gradient(to right, #333333, transparent 90%);
}

/* Scaling for window Sizes */

@media (max-width: 1550px) {
  .leftslice-headingtext {
    padding-top: 10px;
    font-size: 1.5em;
  }
  .leftslice-link-icon {
    font-size: 30px;
    padding-left: 20px;
    margin-right: 10px;
  }
  .leftslice-link a {
    font-size: 1.3em;
    margin-right: 5px;
    padding: 6px;
  }
  .tags {
    padding-left: 6%;
  }
}

@media (max-width: 779px) {
  #leftslice-outer-left {
    width: 80%;
  }
  .leftslice-link a {
    font-size: 0.8em;
    margin-right: 20px;
    padding: 10px;
  }
  .leftslice-headingtext {
    padding-top: 10px;
    font-size: 1.5em;
    padding-left: 10%;
  }
  .leftslice-link-icon {
    font-size: 30px;
  }
  .tags {
    padding-left: 8%;
  }
}

@media (max-width: 579px) {
  .leftslice-headingtext {
    padding-top: 2%;
    padding-left: 9%;
  }
  .leftslice-link a {
    font-size: 1em;
    margin-right: 15px;
    padding: 5px;
    padding-bottom: 10px;
  }
  .tags {
    padding-left: 6%;
  }
}

@media (max-width: 320px) {
  #leftslice-outer-left {
    width: 75%;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .leftslice-headingtext {
    padding-left: 30px;
    font-size: 1em;
    padding-bottom: 0px;
  }
  .leftslice-link-icon {
    font-size: 20px;
    padding-left: 10px;
    margin-right: 10px;
  }
  .leftslice-link a {
    padding: 0px;
    font-size: 1em;
    margin-right: 5px;
  }
}
/* Background Animations */

@keyframes bg-animation {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}

@-webkit-keyframes bg-animation {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}
