:root {
  --gradient: linear-gradient(45deg, #1b267e, #3c0b46, #6e207e);
}

#outer-right {
  font-family: "Spartan";
  -ms-transform: skew(30deg, 0deg);
  -webkit-transform: skew(30deg, 0deg);
  transform: skew(30deg, 0deg);
  background: #333333;
  width: 70%;
  height: 200px;
  z-index: 20;
  border-bottom: 3px solid #000000af;
  padding: 10px 30px 10px 75px;
  font-size: 20px;
  color: #ffffff;
  position: relative;
  float: right;
  box-shadow: 1px 15px 15px rgb(16, 16, 16);
  left: 100px;
}

.headingtext {
  padding-top: 20px;
  padding-left: 7%;
  padding-bottom: 20px;
  font-weight: 500;
  font-size: 2rem;
  white-space: nowrap;
}

.dropdown-content {
  position: relative;
  top: 110px;
  right: 252px;
  -ms-transform: skew(-30deg, 0deg);
  -webkit-transform: skew(-30deg, 0deg);
}

#outer-right:after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 10;

  background: linear-gradient(0deg, #1b267e 0%, #3c0b46 100%);
  background-size: 200% 200%;
  animation: bg-animation 10s infinite alternate;
  -webkit-animation: bg-animation 10s infinite alternate;
}

#inner-right {
  -ms-transform: skew(-30deg, 0deg);
  -webkit-transform: skew(-30deg, 0deg);
  transform: skew(-30deg, 0deg);
  display: inline-block;
}
.link {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}

.link-icon {
  font-size: 60px;
  padding-left: -15px;
}
.link a {
  display: inline-block;
  margin-left: 40px;
  margin-right: 40px;
  border: none;
  cursor: pointer;
  position: relative;
  color: rgb(142, 68, 216);
  transition: color 0.2s;
  letter-spacing: 1px;
  text-decoration: none;
  padding: 20px;
  font-weight: 500;
  font-size: 25px;
}

.link a:after {
  content: "";
  position: absolute;
  background-color: rgb(39, 51, 141);
  z-index: -1;
}
.link a:hover {
  color: #fff;
}

/* Directions */

button.right:after {
  left: -0.3em;
  top: 0;
  height: 100%;
  width: 0.08em;
  transform: skew(-20deg);
  transition: width 0.1s;
}
.link a:hover:after {
  width: calc(100% + 0.6em);
}

.link a:after {
  right: -0.3em;
  top: 0;
  height: 100%;
  width: 0.08em;
  transform: skew(-20deg);
  transition: width 0.1s;
}
.link a:hover:after {
  width: calc(100% + 0.6em);
}

/* Scaling for window Sizes */

/* Background Animations */

@keyframes bg-animation {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}

@-webkit-keyframes bg-animation {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}
