.content-container-right {
  z-index: 1;
  position: relative;
}

.content-links-right {
  font-family: "Spartan";
  position: absolute;
  right: 0;
  z-index: 1;
  color: white;
  padding-top: 100px;
}

.content-text-right {
  font-family: "Spartan";
  position: absolute;
  z-index: 1;
  color: white;
  text-align: right;
  padding-right: 10%;
  right: 0;
  top: 90%;
}

.content-text-right p {
  font-size: 1.2rem;
}

.content-panel-right-top {
  background: linear-gradient(90deg, #202d4d 0%, #145936 100%);
  height: 260px;
  clip-path: polygon(0 0, 50% 70px, 100% 0, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 0, 50% 70px, 100% 0, 100% 100%, 0 100%);
  margin-top: -40px;
}

.content-panel-right-bottom {
  background: linear-gradient(90deg, #202d4d 0%, #145936 100%);
  height: 260px;
  clip-path: polygon(0 0, 50% 70px, 100% 0, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 0, 50% 70px, 100% 0, 100% 100%, 0 100%);
  margin-top: -1px;
  transform: rotateX(180deg);
  z-index: 1;
}

.border-right-top {
  background-color: white;
  position: relative;
  clip-path: polygon(0 0, 50% 70px, 100% 0, 100% 100%, 0 100%);
  margin-top: -550px;
  height: 150px;
  z-index: -2;
}

.border-right-bottom {
  background-color: white;
  position: relative;
  clip-path: polygon(0 0, 50% 70px, 100% 0, 100% 100%, 0 100%);
  margin-top: -120px;
  height: 135px;
  z-index: -2;
  transform: rotateX(180deg);
}

.link {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}

.link a {
  display: inline-block;
  margin-left: 40px;
  margin-right: 40px;
  border: none;
  cursor: pointer;
  position: relative;
  color: rgb(142, 68, 216);
  transition: color 0.2s;
  letter-spacing: 1px;
  text-decoration: none;
  padding: 20px;
  font-weight: 800;
  font-size: 25px;
}

.link a:after {
  content: "";
  position: absolute;
  background-color: rgb(39, 51, 141);
  z-index: -1;
}
.link a:hover {
  color: #fff;
}

/* Directions */
button.left:after {
  left: -0.3em;
  top: 0;
  height: 100%;
  width: 0.08em;
  transform: skew(-20deg);
  transition: width 0.1s;
}
.link a:hover:after {
  width: calc(100% + 0.6em);
}

.link a:after {
  right: -0.3em;
  top: 0;
  height: 100%;
  width: 0.08em;
  transform: skew(-20deg);
  transition: width 0.1s;
}
.link a:hover:after {
  width: calc(100% + 0.6em);
}

@media (max-width: 779px) {
  .content-text-right {
    top: 60%;
  }
}
