html {
  height: 100%;
}

body {
  margin: 0;
  background-color: rgb(22, 22, 28);
  height: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

.encompass-home {
  height: 100vh;
}

.top-divider-banner {
  position: relative;
  top: -50px;
}

.second-divider-banner {
  position: relative;
  top: 450px;
  box-shadow: 10px 5px 5px black;
}

.content-1 {
  position: relative;
  top: 100px;
  height: 100%;
}

.content-2 {
  position: relative;
  top: 200px;
}

footer {
  background: #3333;
  color: white;
  justify-self: flex-end;
  margin-top: 300px;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
