body {
  background-color: rgb(22, 22, 28);
  min-height: 100vh;
}

.top-divider-banner {
  position: relative;
  top: -50px;
}

.second-divider-banner {
  position: relative;
  top: 450px;
  box-shadow: 10px 5px 5px black;
}

.content-1 {
  position: relative;
  top: 100px;
  height: 100%;
}

.content-2 {
  position: relative;
  top: 200px;
  padding-bottom: 400px;
}

.content-footer {
  position: sticky;
  top: 100vh;
  width: 100%;
  height: 60px; /* Height of the footer */
  background: #6cf;
}
