.footer-content {
  z-index: 50;
  color: white;
  background-color: #834a4f;
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.footer-col1,
.footer-col2,
.footer-col3 {
  display: inline-block;
  align-content: space-around;
  justify-content: space-around;
}

.footer-col3 {
  padding-right: 100px;
}
